<div>
  <img src="<%= @user.photo %>">
  <div>
    <h2> <%= @user.name %> </h2>
    <div>
      <p> Number of posts <%= @user.posts_counter %></p>
    </div>
  </div>

<div>
  <% @user.posts.each do |post| %>
  <div><%= link_to user_post_path(@user.id, post.id) do %>
    <h3> <%= post.title %> by: <%= post.author.name %> </h3>
    <div>
      <p>Comments: <%= post.comments_counter %> Likes: <%= post.likes_counter %></p>
    </div>
  <% end %>
 
  </div>

    <% post.recent_comments.each do |comment|%>
    <div>
      <h3> <%= comment.author.name %> </h3>
      <p> <%= comment.text %> </p>
    </div>

    <%end%>
    
  <% end %>
  <div>

  <button><%= link_to "Create new Post", new_user_post_path(@user.id) %></button>
  
</div>