<div>
  <div>
    <h3> Title: <%= @post.title %> by: <%= @post.author.name %> </h3>
      <p>Comments: <%= @post.comments_counter %> Likes: <%= @post.likes_counter %></p>
      <%= render 'likes/form' %>
  </div>
  <div>
    <p> <%= @post.text %> </p>
</div>

  <div>
    <% @comments.each do |comment| %>
      <div>
        <h3> <%= comment.author.name %> </h3>
        <p> <%= comment.text %> </p>
      </div>
      <% if can? :destroy, comment %>
        <%= button_to 'Delete Comment', user_post_comment_path(@post.author_id, @post.id, comment.id), method: :delete, params: { comment_id: comment.id}%>
      <% end %>
    <% end %>

    <%= render 'comments/form' %>
  </div>