<div>
  <div>
    <h3> Title: <%= @post.title %> by: <%= @post.author.name %> </h3>
      <p>Comments: <%= @post.comments_counter %> Likes: <%= @post.likes_counter %></p>
      <%= render 'likes/form' %>
  </div>
  <div>
    <p> <%= @post.text %> </p>
</div>

  <div>
    <% @comments.each do |comment| %>
      <div>
        <h3> <%= comment.author.name %> </h3>
        <p> <%= comment.text %> </p>
      </div>
      <% if can? :destroy, comment %>
        <%= link_to 'Delete', user_post_path(user_id: comment.author.id, post_id: @post.id), method: :delete %>
      <% end %>
    <% end %>

    <%= render 'comments/form' %>
  </div>